<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><%= title %></title>
		<%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= yield :head %>
	</head>
	<body>
		<div class="container">
			<div class="span-16">
				<div class="height-1">
					<%= image_tag("logo2.png", :alt => "AIESEC United States", :style => "vertical-align:middle;") %>
				</div>
			</div>
			<div class="span-7 prepend-1 last height-1">
				<nav>
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Help", help_path %></li>
						<% if current_user %>
							<li><%= link_to "Sign out", signout_path %></li>
						<% else %>
							<li><%= link_to "Sign in", signin_path %></li>
						<% end %>
					</ul>
				</nav>
			</div>
			<h1><%= title %></h1>
		<!--
				SUBTITLE WILL GO HERE
			<h2 class="alt">Connect with your candidates</h2>
		-->
			<hr>
		<!--
				CANDIDATES LIST WILL GO HERE
			<div class="span-7 colborder">
				<h6>Here's a box</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
			</div>
			<div class="span-8 colborder">

				<h6>And another box</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip.</p>
			</div>
			<div class="span-7 last">
				<h6>This box is aligned with the sidebar</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
			</div>
			<hr>
		-->

			<hr class="space">
			<div id="main" class="span-15 prepend-1 colborder">
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, :class => "flash #{key}") %>
				<% end %>
				<%= yield %>
			</div>
			<%= render 'layouts/sidebar' %>

			<hr>
			<h2 class="alt">You may pick and choose amongst these and many more features, so be bold.</h2>
			<hr>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
